<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omega Nemesis </title>
    <meta name="description" content="Omega Nemesis Shows, About, and Band Contact">
      <link id="favicon" rel="icon" href="https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-1/c2.0.320.320/p320x320/11329921_921379911217891_8472838618740884602_n.jpg?oh=53ff03e0fff77da9988f0f9538407789&oe=5AC89B6F" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Eater" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
   	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav>
    <h4 onclick="move('shows')" class = "navOptions">
      Shows
    </h4>
    <h4 onclick = "move('about')" class = "navOptions">
      About
      </h4>
      <h4 onclick = "move('members')" class = "navOptions">
        Members
      </h4>
      <h4 onclick = "move('contact')" class = "navOptions">
        Contact
      </h4>
      <h1 onclick="move('onstage')" class = "title">
        Omega Nemesis
      </h1>
    </nav>
    <!-- Homepage Image -->
    <img id = "onstage" class="onstage" src="https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/11165220_904260272929855_1834719654636629803_n.jpg?oh=ee865f986774df44c4e2bae771baf6bb&oe=5AD73C91">

    <!-- Show Schedule: Band will be able to add with add interface-->
    <div id = "shows" class = "buffer">
    </div>
  <div class="screen">
    <div id = "scheduleContainer">
      <center>
      <h1>
        Upcoming Shows
      </h1>
     <div id ="line">
        </div>
      <!-- EJS forEach function to load shows -->
      <div id = "showList">
      </div>
    </center>
    </div>
  </div>

  <!-- About -->
  <div id="about" class = "buffer2">
  </div>
  <div class = "screen fixTop">
    <center>
      <h1 class = "white">About</h1>
        </center>
        <div class = "rows">
          <div class="col-md-1">
          </div>
          <div class="col-md-4">
      <img class = "clownPhoto" src = "https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/21271206_1544262072263002_1500717186612457845_n.jpg?oh=01a80cbebff01f36d731e9845cb4f88f&oe=5A9D63EC">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
        <h4 class="aboutText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus facilisis nisi quis tempus. Duis vehicula lacinia lacus quis pulvinar. Quisque a tortor orci. Duis venenatis facilisis orci, sit amet sodales enim porttitor at. Morbi condimentum viverra lacus, eget luctus orci finibus imperdiet. Nunc venenatis sed justo quis pellentesque. Donec felis est, fringilla vitae bibendum et, tempus a quam. Pellentesque nisi leo, egestas sit amet feugiat interdum, tempor pretium odio. Nulla sed tellus purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris purus purus, lacinia ut placerat in, maximus a tortor. Suspendisse cursus lorem vel est bibendum bibendum. Donec scelerisque auctor aliquet. Nam eget porta quam, efficitur vestibulum metus. Duis fermentum metus vitae arcu accumsan, et finibus felis euismod.
  </h4>
    </div>
  <div class="col-md-1">
  </div>
    </div>
  </div>

  <!-- Begin Members -->

  <div id = "members" class = "buffer">
    </div>
    <div class = "screen">
<div id = "profiles">
    <div class = "memberProfile">

    <h1 class = "memberName">
      Jim
    </h1><br>
    <img class = "memberImage" src = "https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/14224944_1184220781600468_1420724018669356970_n.jpg?oh=c161cff0a3eceebf1546cab289bced8d&oe=5AD25EE9">
  </div>

  <div class="memberProfile">
      <h1 class = "memberName">
        Mandy
      </h1>
<br>
  <img class = "memberImage" src = "https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/14068182_1178504032172143_5222852234584630777_n.jpg?oh=765c70203db67408de6ac020d4c1a9b5&oe=5ACCB836">
</div>

<div class="memberProfile">
    <h1 class = "memberName">
      Lonnie
    </h1>
<br>
<img class = "memberImage" src = "https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/1380697_10202097010210666_1899436028_n.jpg?oh=30714c68ba8f5cb992a1ca88fc00228b&oe=5AD60B16">
</div>
</div>
  </div>

<!---Start Contact -->
<div id = "contact" class = "buffer2">
  </div>
<div class = "screen fixTop">
  <center>
  <h1 style = "color: white">
    Contact Us
  </h1>
  <br>
  <div class = "contactBackground">
  <input class="input1" placeholder="Your Name" name ="name">
  <br><br>
  <input class="input1" placeholder="Phone Number" name = "number">
<br><br>
  <input class="input1" placeholder="Email Address"name ="email">
<br><br>
  <textarea placeholder="Details/Comments" name = "details">
    Details/Comments
  </textarea><br>
  <button class = "contactButton" type = "submit">
    Submit
  </button>
</div>
</center>
</div>
  <script src = "client.js"></script>
  </body>
</html>
