body{
  background-color: black;
}
nav{
  z-index: 1;
  top: 0;
  position: fixed;
  background-color: black;
  height: 20vh;
  width: 100%;
}
.input1{
  width: 70%;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  outline: none;
}
textarea{
  width: 70%;
  height: 10vh;
  border-radius: 5px;
}
#line{
  height: 1px;
  background-color: black;
}
.buffer{
  height: 20vh;
  background-color: black;
}
.buffer2{
  height: 30vh;
  background-color: black;
}
.white{
  color: white;
}
.onstage{
  width: 100%;
}
.title{
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  color: white;
  margin-top: 8vh;
  float: right;
  font-family: 'Nosifer', cursive;
  margin-right: 2%;
}
.logo{
  display: inline;
  width: 10%;
}
.navOptions{
  display: inline-block;
  margin-top: 12vh;
  font-family: 'Nosifer', cursive;
  color: white;
  margin-left: 2%;
  font-size: 20px;
  outline: none;
}
.navOptions:hover{
  color: #bcb8b8;
  cursor: pointer;
}
.screen{
  margin-top: 0;
  background-color: black;
  min-height: 100vh
}
#scheduleContainer{
  color: #ff6100;
  background-color: #bcb8b8;
  width: 90vw;
  height: 80vh;
  margin: auto;
  border: 2px solid #f48642;
  border-radius: 30px;
}
#shows{
  overflow-y: hidden;
}
.clownPhoto{
  height: 30vw;
  margin-left: 2%;
}
.aboutText{
  padding: 15px;
  color: white;
}
.fixTop{
  margin-top: -10vh;
}
.memberName{
  display: inline-block;
  font-family: "Nosifer", cursive
}
.memberImage{
  display: inline-block;
  max-width: 30vw;
  max-height: 70vh;
}
.memberProfile{
  display: inline-block;
}
#profiles{
  margin-left: 15%;
}
.contactBackground{
  padding: 40px;
  background-color: #ffb575;
  width: 80%;
  border-radius: 25px;
  border: 2px solid grey;
}
.contactButton{
  border: 0px;
  background-color: black;
  color: orange;
  padding: 15px;
  width: 100px;
  border-radius: 20px;
}
@media only screen and (max-device-width: 480px) {
  
  .about{
    font-size: 100px;
  }
  .aboutText{
    font-size: 40px;
  }
  .clownPhoto{
width: 90%;
    min-height: 40vh;
    margin:auto;
   
  }
  .navOptions{
    font-size: 35px;
  }
  .memberImage{
    width: 70vw;
    max-width:90vw;
    max-height: 70vh;
 
  }
  .screen{
    min-height: 60vh;
  }
nav{
  position: relative;
}
.title{
  display: none;
}

}
